div{
 box-sizing: border-box; 
 text-align: center;
 text-decoration: none;
font-size: 45px;
color: #0070FF;
border-width: 15px;

}


.topo:hover{
  padding: 150px;
  background-color: rgb(11, 24, 144);
  transition: 1s;  
}
.meio:hover{
  padding: 150px;
  background-color: rgb(11, 24, 144);
  transition: 1s; 
}
.base:hover{
  padding: 145px;
  background-color: rgb(11, 24, 144);
  text-align: center;
  text-align-last: auto;
  transition: 1s;
}

body{
  margin: 0;
background-color: #1a2b47;
}
a{
  color: rgb(0, 128, 255);
  background-color: rgb(221, 229, 237);
  text-decoration: none;
  padding: 15px;
  border-radius:  5px;
  font-size: 45px;
  text-shadow:  100px;
  font-family: Arial;
 float: center;
 font-weight: bold;
}

a:hover{
  background-color:#1a2b47;
  transition: 1s; 
}